.partners {
  padding: 16px 16px 30px 16px;

  &__content {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &__img {
    text-align: center;
    &--bottom {
      margin-top: 40px;
    }
  }
}