.events {
  padding: 15px 16px 30px 16px;
  border-bottom: 3px solid #1154FF;

  &__top {
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__see-more {
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    color: #265AE0;
  }

  &__arrows {
    display: flex;
    margin-left: 30px;

    &--right {
      margin-left: 16px;
    }

    &--right, &--left {
      cursor: pointer;
    }
  }
}