.about {
  padding: 15px 16px 30px 16px;
  border-bottom: 3px solid #1154FF;

  &__top {
    padding-bottom: 12px;
  }

  &__title {

  }

  &__line {
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  &__read-more {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 11px;
    color: #265AE0;
    margin-top: 6px;
  }
}