.header {
  background: linear-gradient(96.68deg, #2D7797 0%, rgba(11, 138, 192, 0.53125) 71.65%, rgba(11, 138, 192, 0) 134.87%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;

  &__logo {
    background: transparent;
  }

  &__menu {
    cursor: pointer;
  }
}