.footer {
  background: rgba(141, 216, 248, 0.5);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  &__links {
    list-style: none;

    &--item {
      display: flex;
      margin-top: 6px;
    }

    &--text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      margin-left: 9px;
      color: #FFFFFF;
    }
  }

  &__social-media {
    display: flex;
    align-items: flex-end;

    &--first {
      margin-right: 6px;
    }
    &--item {

    }
  }

  &__logo {
    display: flex;
    align-items: flex-end;
  }
}