.team {
  padding: 16px;
  border-bottom: 3px solid #1154FF;

  &__content {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }

  &__stuff-info {
    margin-left: 16px;
  }

  &__stuff {
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #265AE0;
  }
}