* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  color: #265AE0;
}

.line {
  width: 120px;
  height: 2px;
  margin-top: 6px;
  background: #265AE0;
}